body{
    text-align: center;
}
#logo{
    border-radius: 25%;
    box-shadow: 7px 7px 18px -3px #595959;
}

body h1{
    font-family: Impact, Charcoal, sans-serif;
}

.layouts img{
    border-radius: 2%;
    box-shadow: 5px 5px 14px -2px #595959;
    height: 150px;
}

.layouts h3{
    font-family: Impact, Charcoal, sans-serif;
}

.layouts a{
    text-decoration: none;
    color: black;
}
